@font-face {
    font-family: theAniruth;
    src: url("../fonts/Thenewaniruth-Regular_Big.ttf") format('truetype');
}

p{
    font-family: theAniruth;
    color: red;
}

#factDiv{
	height: 50px;
	margin: 20px;
}

#factTab{
	text-align: center;
}